.App {
  text-align: center;
  font-family: "Barlow", sans-serif;
}

.App-header {
  background-color: #282c34;
  height: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.App-body {
  width: 100vw;
  height: auto;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.loading-spinner svg {
  color: thistle;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.danger {
  color: rgb(245, 50, 50);
}
.success {
  color: rgb(54, 230, 54);
}

/* Navbar */

.navbar {
  background-color: #ffff;
  height: 12rem;
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.navbar-top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
}
.navbar-logo {
  height: 8rem;
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-logo a {
  height: 90%;
  width: auto;
}
.navbar-logo a img {
  height: 100%;
  width: auto;
  object-fit: contain;
  object-position: center;
  cursor: pointer;
}
.navbar-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  width: 33.33%;
  color: black;
}
.navbar-icons svg {
  cursor: pointer;
  transition: 0.5s;
  margin: 0 0.5rem;
  color: black;
}
.navbar-icons svg:hover {
  transform: scale(1.1);
}
.navbar-bottom {
  height: 3rem;
  width: 100%;
}
.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.navbar-links li {
  list-style-type: none;
  margin: 0 0.5rem;
}
.navbar-links li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}
.navbar-links li:hover a {
  text-decoration: underline;
}

/* Auth modal */
.Overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(109, 112, 117, 0.8);
}
.Modal {
  position: absolute;
  top: 0;
  left: 40px;
  right: 40px;
  bottom: 0;
  margin: auto;
  z-index: 1000;
  height: 550px;
  min-height: 550px;
  width: 30vw;
  background-color: #ffff;
  display: flex;
  justify-content: space-between;
  outline: none;
  border-radius: 10px;
}
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  padding: 1rem;
}
.modal-close-btn {
  height: 10%;
  width: 100%;
}
.modal-close-btn svg {
  float: right;
  cursor: pointer;
  transition: 0.5s;
}
.modal-close-btn svg:hover {
  transform: scale(1.1);
}
.modal-signin-form,
.modal-register-form {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-signin-form p span,
.modal-register-form p span {
  color: blue;
  cursor: pointer;
  transition: 0.5s;
}
.modal-signin-form p span:hover,
.modal-register-form p span:hover {
  color: rgb(12, 12, 133);
  cursor: pointer;
}
/* .ReactModal__Overlay {
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
} */

@media only screen and (max-width: 600px) {
  .navbar-top {
    justify-content: flex-start;
  }
  .navbar-logo,
  .navbar-icons {
    height: 5rem;
  }
}
